extends layout

block content
  section.hero-text
    .container
      .row  
        .col-lg-2
          img(src='/images/logo.jpg' height='200')
        .col-lg-9
          br
          br
          br
          h1.aligncenter Geo Kids - Learning by playing
          span.clear.spacer_responsive_hide_mobile
  br
  br
  main.container(role='main')
    .row
      .col-md-12
        h1.aligncenter Continents
        table.table.table-bordered.table-hover
          tr
            td ID
            td Continent
          for continent in continents
            tr
              td= continent.continent_id
              td
                a(href='/regions/'+continent.continent_id) #{continent.continent}
  
  br
  br
  br