extends layout

block content
  section.hero-text
    .container
      .row  
        .col-lg-2
          img(src='/images/logo.jpg' height='200')
        .col-lg-9
          br
          br
          br
          h1.aligncenter Geo Kids - Learning by playing
          span.clear.spacer_responsive_hide_mobile
  br
  br
  main.container(role='main')
    .row
      .col-md-12
        h1.aligncenter Countries
        table.table.table-bordered.table-hover
          tr
            td Continent
            td Region
            td ID
            td Country
          for country in countries
            tr
              td=country.continent
              td=country.region
              td=country.country_id
              td=country.country
  
  br
  br
  br