extends layout

block content
  section.hero-text
    .container
      .row  
        .col-lg-12
          .aligncenter
            h1.aligncenter
              SmartKids 
            span.clear.spacer_responsive_hide_mobile
            Lorem ipsum dolor sit amet
	
  #chartdiv

  section.content
    .container
      .row
        .skill-home
          .skill-home-solid.clearfix
            .col-md-3.text-center
              span.icons.c1
                i.fa.fa-trophy
              .box-area
                h3 Play Group
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident

  main.container(role='main')
    .jumbotron
      h1 Home
      p.lead
        | Estás en la página Home
      a.btn.btn-lg.btn-primary(href='#' role='button') Botón &raquo;
    .container
    
    .row
      .col-md-4
        h2 Contenido
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-secondary(href='#' role='button') Ver más &raquo;
      .col-md-4
        h2 Contenido
        p
          | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        p
          a.btn.btn-secondary(href='#' role='button') Ver más &raquo;
      .col-md-4
        h2 Contenido
        p
          | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
        p
          a.btn.btn-secondary(href='#' role='button') Ver más &raquo;
    hr